@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C5CAE9;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 800px;
    height: 500px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.convert,
.info {
    width: 350px;
    height: 350px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    margin: 10px;
}

.convert {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.convert input {
    height: 40px;
    width: 90%;
    font-size: 1.3rem;
    border: 1px solid gray;
    outline: palegreen;
    border-radius: 4px;
    text-align: center;
}

.convert input::placeholder {
    font-size: 0.9rem;
    color: lightgreen;
}

.convert .wrapp {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.convert label {
    cursor: pointer;
}

.convert #switch {
    margin-right: 10px;
    width: 20px;
    cursor: pointer;
}

#exit {
    background: rgba(0, 0, 0, 0.1);
    height: 60px;
}

button {
    font-size: 1.3rem;
    padding: 7px 15px;
    border-radius: 4px;
    border: none;
    background: #FF8A80;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info ul {
    list-style: none;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.info ul li {
    font-size: 1.6rem;
}

@media(max-width:770px) {
    .container {
        width: 500px;
        height: 100%;
        flex-direction: column;
        box-shadow: none;
        border: none;
    }
    .convert,
.info {
 width:85%;
 height: 300px;

}
h2,h3,.info ul li,.convert input,.convert {
    font-size: 80%;
}
}